.Button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #aa8899;
  border-radius: 3px;
  color: #aa8899;
  font-size: 1rem;
  outline: none;
  padding: 10px 15px;
}

.Button-white {
  color: #fff;
}

.Button-main {
  background-color: #827C28;
  color: #fff;
  padding: 15px 20px;
}

.Button-main.active {
  background-color: #A19A46;
}

.Button:hover {
  opacity: 0.9;
}

.Button:active {
  transform: scale(0.98);
}

.Button:disabled {
  opacity: 0.3;
}
